.Todo-list-container{
  margin: 5rem;
  display:flex;
  justify-content:center;
  align-items:flex-start;
  width: 80rem;
  min-height: 50rem;
  border:2px solid black;
  background-color: rgba(219, 222, 20, 0.8);
  border-radius: 2rem;
}

.todo-form{
  display: flex;
  width: 100%;
  margin-top: 3rem;
  font-size: 2rem;
  gap: 2rem;
}


.todo-form input{
  border:1px solid black;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 1rem;
  color:black;
}


.todo-form button{
  border: 1px solid black;
  border-radius: 1rem;
  background-color: rgb(172, 192, 235);
  padding: 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 2.5rem;
}

.todo-form button:hover{
  background-color: black;
  color:rgb(172, 192, 235);
  font-weight: 600;
}

.task-div{
  background-color:rgb(84, 16, 186) ;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem crimson;
}

.todo-text{
  font-size: 2.5rem;
}

.icons{
  font-size: 2.5rem;
  gap:3rem;
  display: flex;
  cursor:pointer;
}

.complete{
  text-decoration: line-through whitesmoke;
  opacity:0.5;
  box-shadow: rgb(101, 16, 157);
  color:rgb(1, 13, 21);
  background-color:rgb(48, 166, 89) ;
}

.hide{
  display: none;
}